<div class="aboutgeoxdiv">
	<h1>GEOX</h1>


<p>GEOX is basically an automated attendance system that is being created to
ease the paperwork and maintain a attendance database of the student in
institutes. We are using geofence as the main pillar to fix this problem
and a database mongoDB for storing students information.</p>
</div>
<hr>
<h1 class="ourteam">Our Team</h1>
<hr>
<div class="admininfo">
	<div class="profile">
		<div class="image">
			<img src="../includes/img/pik.jpg">
		</div>
		<p class="name">Abhinav Chauhan</p>
	</div>
	<div class="profile">
		<div class="image">
				<img src="../includes/img/pik.jpg">
		</div>
		<p class="name">Sahil Mathur</p>
	</div>
	<div class="profile">
		<div class="image">
				<img src="../includes/img/pik.jpg">
		</div>
		<p class="name">Ajay Sharma</p>
	</div>

	</div>
