<div class="container-dashboard">
<span class="open-nav" id="open-nav" ng-click="openNav()">&#9776;</span>
		<div class="sidenav" id="sidenav">
		<div class="upper-sidenav">
			<span class="close-nav" id="close-nav" ng-click="closeNav()">&#10005;</span>
			<div>
				<span class="logo-header"><img src="./../includes/img/logo-32px.png"><span class="geox" >GEOX</span>
				</span>
			</div>

			<div>
				<img src="./../includes/img/user.png" style="height: 25px;width:25px;">
			</div>

			<div>
				<span class="user"> Student</span>
			</div>
			<div >
				<span class="user-logout">
					<a>{{student.username}}</a> <a ng-click="logoutStudent()">Logout</a>
				</span>
				<div class="timer" ng-if="timer.sec"> {{timer.hr}} : {{timer.min}} : {{timer.sec}}</div>
			</div>
			
		</div>
			<div class="panel">
					<ul>
					<li ui-sref=".home">Home</li>
					<li ui-sref=".attendance">Attendance</li>
					<li ui-sref=".profile">Profile</li>
					<li ui-sref=".about">About GEOX</li>	
					</ul>
			</div>
		</div>		
<!-------------dashboard ui view ------------------------->
<div class="ui-wrapper" id="ui-wrapper" ui-view> 
</div>
<!------------- dashboard ui view end------------------------->
</div>