<div class="row login-row">  
	<div class="col-sm-7 login-map-wrapper">
		<div id="login-map" class="login-map"> </div>
	</div>
	<div class="col-sm-5 login-wrapper">
		<div class="login-form-wrapper">
			<div class="login-form-head">
				<div style="">
					<img class="form-logo" src="./../includes/img/logo-32px.png">
					<span class="form-geox">GEOX</span>
				</div>
				<div  class="login-form-link">
					<span ui-sref=".student" ng-click="changeColor('student')"
					 class="{{selectStud}}">STUDENT</span>&emsp;
					<span  ui-sref=".admin" ng-click="changeColor('admin')"
					class="{{selectAdmin}}">ADMIN</span>
				</div>
			</div>
			<div ui-view class="login-form-display" style="margin-top: 0px;">
			</div>
		</div>
	</div>
</div>
