<h3>Profile</h3>
<form>
<label>Username :</label><input type="text" value="{{student.username}}" ng-model="stud.username" readonly><br>
<label>Name :</label><input type="text" value="{{student.name}}" ng-model="stud.name"><br>
<label>Father Name :</label><input type="text" value="{{student.fname}}" ng-model="stud.fname"><br>
<label>Center Id :</label><input type="text" value="{{student.cid}}" ng-model="stud.cid"><br>
<label>Enroll No :</label><input type="text" value="{{student.enroll}}" ng-model="stud.enroll"><br>
<label>Email :</label><input type="text" value="{{student.email}}" ng-model="stud.email"><br>
<label>Phone :</label><input type="text" value="{{student.phone}}" ng-model="stud.phone"><br>
<label>Date of Birth :</label><input type="text" value="{{student.dob}}" ng-model="stud.dob"><br>
<label>Technology :</label><input type="text" value="{{student.tech}}" ng-model="stud.tech"><br>
<label>Batch Timings :</label><input type="text" value="{{student.batch}}" ng-model="stud.batch">
<!-- <button ng-click="update()">update</button> -->
</form>