<div class="signup-wrapper">
        <div class="signup-form-wrapper">
        

            <!-- PAGE HEADER -->
           <div class="signup-form-head">
                <div class="signup-logo-wrapper">
                    <img class="form-logo" src="./../includes/img/logo-32px.png">
                    <span class="form-geox signup-geox">GEOX</span>
                </div>
                <span class="sign-up-text">Sign Up</span>
            </div>

           <form  class="form" name="userForm" ng-submit="submitForm()" novalidate>

                <!-- NAME -->
                <div class="form-group">
                    <label>Name</label>
                    <input type="text" name="name" class="form-control input" ng-model="user.name" placeholder="Enter Your Name" ng-required="true">
                    <p ng-show="userForm.name.$error.required && (userForm.name.$touched || submitted)" class="error">Your name is required.</p>
                </div>

                <!-- FATHER'S NAME -->
                <div class="form-group">
                    <label>Father's Name</label>
                    <input type="text" name="fname" class="form-control input" ng-model="user.fname" placeholder="Enter Your Father's Name" ng-required="true">
                    <p ng-show="userForm.fname.$error.required && (userForm.fname.$touched || submitted)" class="error">Your father's name is required.</p>
                </div>

                <!-- Centre id-->
                    <div class="form-group">
                    <label>Centre ID</label>
                    <input type="text" name="cid" class="form-control input" ng-model="user.cid" placeholder="Enter Centre id" ng-required="true">
                    <p ng-show="userForm.cid.$error.required && (userForm.cid.$touched || submitted)" class="error">Centre ID is required.</p>
                </div>
                <!-- enrollment no.-->

                <div class="form-group">
                    <label>Enrollment No.</label>
                    <input type="number" name="enr" class="form-control input" ng-model="user.enroll" placeholder="Enter Your Enrollment No." ng-required="true">
                    <p ng-show="userForm.enr.$error.required && (userForm.enr.$touched || submitted)" class="error">Your enrollment no. is required.</p>
                </div>

                <!-- EMAIL -->
                <div class="form-group">
                    <label>Email</label>
                    <input type="email" name="email" class="form-control input" ng-model="user.email" placeholder="Your Email Address" ng-required="true">
                    <p ng-show="userForm.email.$error.required && (userForm.email.$touched || submitted)" class="error">Email is required.</p>
                    <p ng-show="userForm.email.$error.email && (userForm.email.$touched || submitted)" class="error">Enter a valid email.</p>
                </div>

                <!-- CONTACTNO -->
                <div class="form-group">
                    <label>Contact No</label>
                    <input type="number" name="contactno" class="form-control input" ng-model="user.phone" placeholder="Enter Your Contact No" ng-pattern="/^[6789]\d{9}$/" maxlength="10" ng-required="true">
                    <p ng-show="(userForm.contactno.$error.pattern || userForm.contactno.$error.required)  && (userForm.contactno.$touched || submitted)" class="error">Enter a valid contact no.</p>
                </div>

                 <!-- DOB -->
                <div class="form-group">
                    <label>Date Of Birth</label>
                    <input type="Date" name="date" class="form-control input" ng-model="user.dob" placeholder="Enter Your D.O.B" ng-required="true">
                    <p ng-show="userForm.date.$error.required && (userForm.date.$touched || submitted)" class="error">Date of Birth is required.</p>
                </div>
                
                <!-- Technology -->
                <div class="form-group">
                    <label>Technology</label>
                    <select name="tech" class="form-control input" ng-model="user.tech"
                            ng-options="tech.Name as tech.Name for tech in techList" ng-required="true">
                        <option value=''>Select</option>
                    </select>
                    <p ng-show="userForm.tech.$error.required  && (userForm.tech.$touched || submitted)" class="error">Select technology.</p>
                </div>

                <!-- batch timing -->
                <div class="form-group">
                    <label>Batch timing</label>
                    <select name="batch" class="form-control input" ng-model="user.batch"
                            ng-options="batch.Name as batch.Name for batch in batchList" ng-required="true">
                        <option value=''>Select</option>
                    </select>
                    <p ng-show="userForm.batch.$error.required  && (userForm.batch.$touched || submitted)" class="error">Select BATCH TIMING</p>
                </div>

                <!-- USERNAME -->
                <div class="form-group">
                    <label>Username</label>
                    <input type="text" name="username" class="form-control input" ng-model="user.username" placeholder="Enter Your Username" ng-minlength="3" ng-maxlength="10" ng-required="true">
                    <p ng-show="userForm.username.$error.required && (userForm.username.$touched || submitted)" class="error">Username is required.</p>
                    <p ng-show="userForm.username.$error.minlength && (userForm.username.$touched || submitted)" class="error">Username is too short.</p>
                    <p ng-show="userForm.username.$error.maxlength && (userForm.username.$touched || submitted)" class="error">Username is too long.</p>
                </div>
                
                <!-- PASSWORD -->
                <div class="form-group">
                    <label>Password</label>
                    <input type="Password" name="password" class="form-control input" ng-model="user.password" placeholder="Your Password" ng-required="true">
                    <p ng-show="userForm.password.$error.required && (userForm.password.$touched || submitted)" class="error">Your password is required.</p>
                </div>
              
                <!-- CONFIRM PASSWORD -->
                <div class="form-group">
                    <label>Confirm Password</label>
                    <input type="Password" name="confirmPassword" class="form-control input" ng-model="confirmPassword" placeholder="Confirm Your Password" ng-compare="password" ng-required="true">
                    <p ng-show="userForm.confirmPassword.$error.required && (userForm.confirmPassword.$touched || submitted)" class="error">Your confirm password is required.</p>
                    <p ng-show="userForm.confirmPassword.$error.compare  && (userForm.confirmPassword.$touched|| submitted)" class="error">Confirm password does not match.</p>
                </div>

                <!-- TERMS & CONDITIONS -->
                <div class="form-group">
                    <label>Accept Terms & Conditions</label>
                    <input type="checkbox" class="form-control checkbox" name="terms" ng-model="terms" ng-required="true" />
                    <p ng-show="userForm.terms.$error.required && (userForm.terms.$touched || submitted)" class="error">Accept terms & conditions.</p>
                </div>

                <button type="submit" class="form-button signup-button">Register</button>

                <div class="login-sign-up-text">For Login&nbsp;<a class="login-sign-up-link" ng-click="toLogin()">Click here</a></div>
            </form>
        </div>
        <div id="map" class="signup-map"></div>   
</div>